.rating {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(auto-fit, auto);
  align-items: center;
  justify-content: space-between;

  &__reviews {
    font-size: 11px;
    line-height: 13px;
  }
}
