.stars {
  display: grid;
  list-style: none;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: repeat(auto-fit, auto);
  column-gap: 4px;

  &__item {
    width: 15px;
    height: 15px;
    background-image: url("../images/star.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

%starActiveImg {
  background-image: url("../images/star-active.svg");
}

@for $i from 1 through 5 {
  .stars--#{$i} .stars__item:nth-of-type(-n + #{$i}) {
    @extend %starActiveImg;
  }
}
